<%include ../partials/header%>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card campground-show">
					<img class="img-fluid card-img-top" src="<%=campground.image%>">
					<div class="p-2 card-body">
						<div class="row justify-content-between">
							<h1 class="pl-2 card-title">
								<%=campground.name%>
							</h1>
							<h4 class="col-6 text-left font-weight-bold">Rating:</h4>
							<h4 class="col-6 text-right"><sup class="font-weight-bold" style="font-size: 18px">$</sup><span class="font-weight-bold" style="font-size: 28px"><%=campground.price%></span><span style="font-size: 16px">/night<span></h4>
						</div>
						<p class="card-text">
							<%=campground.description%>
						</p>
						<p>
							<em>Submitted by: <%=campground.poster.username%></em>
							<%if (campground.poster.isAdmin){%>
								<i class="fa fa-tools"></i>
							<%}%>
						</p>
						<% if ((currentUser && !campground.isPlaceholder && campground.poster.id.equals(currentUser.id)) || (currentUser && currentUser.isAdmin)) { %>
							<%include ../partials/campgroundModal%>
						<% } %>
						<div class="text-right">
							<%if (!currentUser){%>
								<a class="btn btn-sm btn-success" href="/login">Please login to comment</a>
							<%} else {%>
								<%include ../partials/newCommentModal%>
							<%}%>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 card container darker">
					<%if(campground.comments.length != 0){%>
						<div class="container py-2 darker hr-hide" id="output">
							<%campground.comments.forEach(function(comment, i){%>
								<div class="container py-1 comment">
									<span class="font-weight-bold">
										<%=comment.author.username%></span>
										<%if (comment.author.isAdmin){%>
											<i class="fa fa-tools"></i>
										<%}%>
									<p>
										<%=comment.body%>
									</p>
									<% if ((currentUser && !comment.isPlaceholder && comment.author.id.equals(currentUser.id)) || (currentUser && currentUser.isAdmin)) { %>
										<%include ../partials/commentModals%>
									<% } %>
									<hr class="mx-auto">
								</div>
							<%})%>
						</div>
					<%}%>
				</div>
			</div>
		</div>
	</div>
<%include ../partials/footer%>