<%include ../partials/header%>
    <div class="container">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-3 container py-2">
                    <div>
                        <h2 class="text-center">
                        <%=user.username%> 
                        <%if (user.isAdmin){%>
                            <i class="fa fa-tools"></i>
                        <%}%>
                        </h2>
                        <img src="../default-user.png" class="img-fluid">
                        <ul class="list-group mt-2">
                            <li class="list-group-item">
                                Email: <%=user.email%>
                            </li>
                            <li class="list-group-item">
                                Gender: <%=user.gender%>
                            </li>
                            <li class="list-group-item">
                            <%if(user.comments){%>
                                Comments: <%=user.comments.length%>
                            <%}%>
                            </li>
                            <li class="list-group-item">
                            <%if(user.campgrounds){%>
                                Campgrounds: <%=user.campgrounds.length%>
                            <%}%>
                            </li>
                            <li class="list-group-item">
                                Avg. Rating: <%=user.avg_rating%>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 container py-2">
                    <div class="">
                        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-home" aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-comments" role="tab" aria-controls="pills-profile" aria-selected="false">Comments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-campgrounds" role="tab" aria-controls="pills-contact" aria-selected="false">Campgrounds</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-contact" aria-selected="false">Settings</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="container py-2">
                                    <form action="/user/<%=user._id%>?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <label for="username">Username: </label>
                                            <input type="text" name="user[username]" class="form-control" value="<%=user.username%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email: </label>
                                            <input type="email" name="user[email]" class="form-control" value="<%=user.email%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="birthday">Birthday: </label>
                                            <input type="date" name="user[birthday]" class="form-control" max="2001-01-01" value="<%=user.birthday%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="gender">Gender: </label>
                                            <select name="user[gender]" class="form-control">
                                                <option value="<%=user.gender%>" selected><%=user.gender%></option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-md btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade show active hr-hide user" id="pills-comments" role="tabpanel" aria-labelledby="pills-comments-tab">
                            <%if(user.comments.length > 0){%>
                                <%user.comments.forEach(function(comment, i){%>
                                    <div class="container py-1 comment">
                                        <span class="font-weight-bold"><%=comment.author.username%></span>
                                        <a href="/campgrounds/<%=comment.postedTo._id%>"class="font-weight-bold float-right"><%=comment.postedTo.name%></a>
                                            <%if (comment.author.isAdmin){%>
                                                <i class="fa fa-tools"></i>
                                            <%}%>
                                        <p>
                                            <%=comment.body%>
                                        </p>
                                        <%include ../partials/userCommentModal%>
                                        <hr class="mx-auto">
                                    </div>
                                <%})%>
                            <%} else {%>
                                <span>There's nothing here...</span>
                            <%}%>
                            </div>
                            <div class="tab-pane fade hr-hide" id="pills-campgrounds" role="tabpanel" aria-labelledby="pills-campgrounds-tab">
                            <%if(user.campgrounds.length > 0){%>
                                <%user.campgrounds.forEach(function(campground, i){%>
                                    <div class="container py-1">
                                        <a href="/campgrounds/<%=campground._id%>"class="font-weight-bold"><%=campground.name%></a>
                                        <span class="font-weight-bold float-right">Price: $<%=campground.price%>/Night</span>
                                        <p>
                                            <%=campground.description%>
                                        </p>
                                        <hr class="mx-auto">
                                    </div>
                                <%})%>      
                            <%} else {%>
                                <span>There's nothing here...</span>
                            <%}%>                 
                            </div>
                            <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
                                <div class="container py-2">
                                    <form action="/user/<%=user._id%>/password?_method=PUT" method="POST">
                                        <div class="form-group">
                                        <label for="password">New Password: </label>
                                            <input type="password" name="password" class="form-control" required>
                                        </div>
                                        <button class="btn btn-sm btn-warning">Change Password</button>
                                    </form>
                                </div>
                                <div class="container py-2">
                                    <%if(user.isAdmin){%>
                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#revokeAdminModal">Revoke admin rights</button>
                                        <div class="modal fade" id="revokeAdminModal" tabindex="-1" role="dialog" aria-labelledby="revokeAdminModalLabel"
                                        aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="revokeAdminModalLabel">Revoke Status</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <span class=>Are you sure you want to revoke your admin status?</span>
                                                        <form action="/user/<%=user._id%>/admin?_method=PUT" method="POST" class="d-inline">
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button class="btn btn-block btn-danger submit" type="submit">Revoke</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%} else {%>
                                        <form action="/user/<%=user._id%>/admin" method="POST">
                                            <div class="form-group">
                                                <label for="adminAuth">Admin Code: </label>
                                                <input type="password" name="adminAuth" placeholder="Enter Admin Code to be granted admin status" class="form-control">
                                            </div>
                                            <button class="btn btn-sm btn-warning">Verify</button>
                                        </form>
                                    <%}%>
                                </div>
                                <div class="container py-2">
                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#revokeAdminModal">Delete account</button>
                                    <div class="modal fade" id="revokeAdminModal" tabindex="-1" role="dialog" aria-labelledby="revokeAdminModalLabel"
                                    aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="revokeAdminModalLabel">Delete Account</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <span class=>Are you sure you want to delete your account?</span>
                                                    <form action="/user/<%=user._id%>?_method=DELETE" method="POST" class="d-inline">
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-block btn-danger submit" type="submit">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%include ../partials/footer%>